.piece {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #000;

    &.ai {
        background: linear-gradient(#ffffff 0%, #dddddd 10%, #929292 50%, #5d5d5d 100%);
    }

    &.player {
        color: #fff;
        background: linear-gradient(#f00202 0%, #bd0404 10%, #7d0404 50%, #670303 100%);


        &.grabbed {
            opacity: 50%;
        }

        &:hover {
            cursor: grab;
        }
    
        &:active {
            cursor: grabbing;
        }
    }

    &.player-king {
        background: linear-gradient(#ff4444 0%, #ff0606 10%, #b61919 50%, #970505 100%);
    }

    &.ai-king {
        background: linear-gradient(#ffffff 0%, #dddddd 10%, #929292 50%, #5d5d5d 100%);
    }

}